.content-panel {
  margin: 0 10px;
  height: 365px;
  padding: 0 5px;
  overflow-y: scroll;
  margin-bottom: 10px;
  @include pad-media {
    height: 400px;
  };
  @include pc-media {
    height: 480px;
    overflow-y: unset;
    @include flex (
      row, space-between, center
    );
    margin-bottom: 90px;
  };
  &::-webkit-scrollbar {
    width: 5px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: #{$deep-gray};
  }
  .inform-title {
    cursor: default;
    color: var(--main-font-color);
    background-color: var(--main-bg-color);
    margin-bottom: 24px;
    position: sticky;
    z-index: 8;
    top: 0;
    left: 0;
  }
  .payment-form {
    height: 290px;
    .form-container {
      @include pc-media {
        .form-space {
          width: 70%;
        }.form-space3 {
          width: 100%;
        }
      }
    }
  }
  .shipping-part {
    border: 1px solid var(--light-connect-line);
    @include flex (
      column, center, flex-start
    );
    width: 100%;
    height: 60px; 
    margin-bottom: 10px;
    cursor: pointer;
    &:active, &:visited, &:focus {
      border: 1px solid var(--black);
      border-radius: 4px;
    }
    &:hover {
      border:1px solid var(--main-font-color);
    }
    &:active, &:visited, &:focus{
      .click-circle {
        box-shadow:inset 0 0 0 6px var(--minus-add); 
      }
    }
    .method {
      @include flex (row, flex-start, center);
      width: 100%;
      .shipping-detail {
        width: 85%;
        @include flex (
          column, center, flex-start
        );
        font-weight: 400;
        .shipping-item {
          width: 100%;
          @include flex (
            row, space-between, center
          );
          .shipping-way {
            font-size: 14px;
          } 
        }
        .shipping-day {
          font-size: 12px;
          color: var(--form-rgba4);
        }
        .shipping-fee {
          font-size: 12px;
          color: var(--main-font-color);
        }
      }
      .item-2 {
        font-family:'Noto Sans TC', sans-serif;
        .DHL {
          font-weight: 700;
        }
      }
    }
    .click-circle {
      margin: 0 15px;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      background-color: #{$white};
      border: 1px solid var( --minus-add);
    }  
  }
  .address-form {
    .form-container {
      @include pc-media {
        // all: unset;
        grid-template-columns: 30% 70%;
        grid-template-rows: repeat(3, 1fr);
        .row-1 {
          width: 120%;
        }
        .row-2 {
          width: 83%;
          margin-left: 70px;
        }
        .row-3 {
          width: 45%;
          grid-row: 2/3;
        }
        .row-4 {
          grid-row: 2/3;
          grid-column: 2/3;
          width: 64%;
          margin-left: 150px;
        }
        .row-5 {
          grid-row: 3/4;
          grid-column: 1/2;
        }
        .row-6 {
          grid-column: 2/3;
          grid-row: 3/4;
          margin-left: 60px;
          width: 86%;
        }
      }

    }
  }
  .form-name {
      color: var(--main-font-color);
  }
  .form-container {
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    grid-template-columns: 48% 52%;
    .form-row {
      @include flex (
        column, center ,flex-start
      );
      cursor: default;
    }
    // address content
    .row-1 {
      grid-column: 1/2;
      grid-row: 1/2;
    }
    .row-2 {
      grid-column:2/3;
      grid-row: 1/2;
    }
    .row-3, .row-4, .row-5, .row-6 {
      grid-column: 1/3;
    }
    .ccv {
      span, input {
        margin-left: 23px;
      }
    }
    .form-space {
      width: 100%;
      height: 40px;
    }
    .form-space1 {
      width: 85%;
      height: 40px;
    }
    .form-space2 {
      width: 100%;
      height: 40px;
    }
    .form-space3 {
      width: 90%;
      height: 40px;
    }
    .form-space, .form-space1, .form-space2 {
      border: 1px solid var(--form-border);
      border-radius: 4px;
      margin: 8px 0 24px;
    }
    input[type="text"], textarea {
      background-color : var(--main-bg-color); 
    }
    select {
      color: var(--main-font-color);
    }
  }
  .infor {
    @include pc-media {
      width: 53%;
      height: 70%;
      margin-bottom: 90px;
      border-bottom: 1px solid var(--content-bottom);
    }
  }
  .shopping-cart {
    background-color: var(--shoppingCart-bc-color);
    @include pc-media {
      width: 38%;
      height: 500px;
      padding: 24px;
      margin-bottom: 90px;
    };
    width: 100%;
    border: 1px solid var(--shoppingCart-border-color);
    padding: 3px;
    .cart-title {
      display: none;
      @include pc-media {
        display: block;
        font-size: 18px;
        font-weight: 700;
        font-family:'Noto Sans TC', sans-serif;
        line-height: 22px;
        color: var(--main-font-color);
        margin-bottom: 30px;
      }
    }
    .cart {
      margin-bottom: 10px;
      @include flex (
        row, space-between, center
      );
      @include pc-media {
        @include flex (
          row, space-between, flex-start
        );
        margin-bottom: 20px;
      }
      .product-unit {
        @include pc-media {
          display: flex;
          @include flex (column, center, flex-start);
        };
      }
      .product-image {
        width: 100px;
        height: 100px;
        border-radius: 4px;
      }
      .product-description {
        cursor: default;
        @include flex (column, center, flex-end);
        @include pc-media {
          @include flex (row, space-between, flex-start);
          width: 75%;
          margin-left: 20px;
        }
        font-size: 16px;
        font-family: 'Noto Sans TC';
        line-height: 24px;
        font-weight: 400;
        color: var(--main-font-color);
        .units-count {
          @include flex (
            row, flex-end , center
          );
          .add, .minus {
            width: 26px;
            height: 27px;
            color: var(--minus-add);
            background-color: var(--unitBtn-color);
            border-radius: 50%;
            text-align: center;
            font-size: 25px;
            margin: 8px 0;
            cursor: pointer;
          }
          .unit {
            text-align: center;
            width: 55px;
            height: 27px;
          }
        }
        
      }
    }
    .total {
      width: 100%;
      @include flex (
        column, center, center
      );
      cursor: default;
      @include pc-media {
        margin-top: 45px;
      }
      .total-shipping-fee {
        width: 100%;
        height: 55px;
        @include pc-media {
          height: 70px;
        }
        @include flex (
          row, space-between, center
        );
        border-top: 1px solid var(--content-rgba2);
        font-size: 14px;
        font-weight: 400;
        color: var(--main-font-color);
        line-height: 20px;
      }
    }
  }
}

.buttons {
  gap: 30px;
  @include pc-media {
    position: absolute;
    top: 480px;
    left: 15px;
    width: 50%;
  }
  width: 345px;
  @include flex (
    row, space-between, center
  );
  margin: 0 auto;
  .opacity {
    display: none;
    @include pc-media {
      display: block;
      cursor: default;
      opacity: 0;
    }
  }
  .btn {
    @include pc-media {
      width: 30%;
    }
    height: 46px;
    border-radius: 8px;
    width: 48%;
    font-size: 14px;
    font-weight: 500;
  }
  .next-to {
    flex-grow: 1;
    background-color: #{$pink};
    color: #{$white};
    span {
      margin-right: 10px;
    }
  }
  .back-to {
    flex-grow: 1;
    color: var(--main-font-color);
    span {
      margin-left: 10px;
    }
    &:hover {
      border: 1px solid var(--main-font-color);
    }
  }
}

